@import url(/css-normalize-main/index.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  background-color: rgb(19, 19, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
}

.progress {
  color: rgb(68, 71, 70);
  font-size: 150px;
}

div a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 30px;
}

div a:hover {
  color: #DCDCDC;
}
